<form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Last Name"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>+61 &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone">

  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="primary">Add</button>
  </div>

</form>

<app-show-person-data></app-show-person-data>