<div class="example-container mat-elevation-z8">
    <div class="example-header">
     
    </div>
  
    <mat-table #table [dataSource]="dataSource"> 
  
     <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> sravan </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> Rayarapu </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> admin@eezeeorder.com </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> mobile </mat-header-cell>
        <mat-cell *matCellDef="let element"> +61 0434567890 </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>